/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  margin: 0px;
}

/* Allow text selection */
.selectable {
  user-select: text; /* Standard syntax */
  -webkit-user-select: text; /* Safari */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
}

/* Prevent text selection */
.non-selectable {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
